body {
  background-color: white;
}

.header {
  padding: 20px;
  text-align: center;
  /*background-color: teal;
  background-image: linear-gradient(to top right, teal, #fffdd0);*/
  background-color: black;
  background-image: linear-gradient(to top right, black, grey);

}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#a47a1e, #d3a84c, #ffec94, #e6be69, #ffd87c, #b58f3e, #956d13);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p1{
  font-size: 25px;
  background: -webkit-linear-gradient(#a47a1e, #d3a84c, #ffec94, #e6be69, #ffd87c, #b58f3e, #956d13);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  overflow-y: scroll; /* Show vertical scrollbars */
 }

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: teal;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  /* doesn't go the full lenght of the screen why??
  width: 100%;
  min-width: 100%;*/
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #111;
}
/* current page has a diffirent color*/
.active {
  background-color: #0f5132;
}

div.search {
  padding-top: 1em;
  width: 80em;    
  text-align: center;
}
/*ul1{
  color: #000;
}*/

/*li1{
  float: left;
}*/

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
}